Django==1.8.7
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
django-cors-headers==1.1.0
whitenoise==1.0.5
requests==2.9.1
sendgrid==2.2.1
beautifulsoup4==4.4.1
django-rq==0.6.1
redis==2.9.1
rq==0.3.13